# Node modules
/node_modules

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage (nyc / jest)
coverage
*.lcov

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Optional build directories
/dist
/build
